# gitignore

## Data
!/data/.gitkeep
/data/*/
src/models/extern/prnet/Data/net-data/256_256_resfcn256_weight.data-00000-of-00001

## venv
bin/
lib/
lib64
pyvenv.cfg
share/
pip-selfcheck.json
include/

## Python
__pycache__/

## Jupyter
etc/

## IDE
.idea/

