absl-py==0.6.1
astor==0.7.1
beautifulsoup4==4.4.1
bleach==1.5.0
cloudpickle==0.6.1
cssutils==1.0.2
cycler==0.10.0
dask==0.20.0
decorator==4.3.0
dlib==19.16.0
enum34==1.1.6
future==0.17.1
gast==0.2.0
grpcio==1.16.0
h5py==2.8.0
html5lib==0.9999999
imageio==2.4.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lxml==4.2.5
Markdown==3.0.1
matplotlib==3.0.1
networkx==2.2
numpy==1.15.4
Pillow==5.3.0
pkg-resources==0.0.0
protobuf==3.6.1
pycaption==1.1.0
pyparsing==2.3.0
python-dateutil==2.7.5
PyWavelets==1.0.1
scikit-image==0.14.1
scipy==1.1.0
six==1.11.0
tensorboard==1.12.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
toolz==0.9.0
Werkzeug==0.14.1
