beautifulsoup4==4.4.1
blessings==1.7
bpython==0.17.1
certifi==2018.10.15
chardet==3.0.4
cssutils==1.0.2
curtsies==0.3.0
enum34==1.1.6
future==0.17.1
greenlet==0.4.15
idna==2.7
lxml==4.2.5
pkg-resources==0.0.0
pycaption==1.1.0
Pygments==2.2.0
requests==2.20.0
six==1.11.0
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
