absl-py==0.6.1
beautifulsoup4==4.4.1
bleach==1.5.0
cloudpickle==0.6.1
cssutils==1.0.2
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
dlib==19.16.99
enum34==1.1.6
future==0.17.1
html5lib==0.9999999
imageio==2.4.1
kiwisolver==1.0.1
lxml==4.2.5
Markdown==3.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
Pillow==5.3.0
pkg-resources==0.0.0
protobuf==3.6.1
pycaption==1.1.0
pyparsing==2.3.0
python-dateutil==2.7.5
PyWavelets==1.0.1
scikit-image==0.14.1
scipy==1.1.0
six==1.11.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
toolz==0.9.0
Werkzeug==0.14.1
